body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 400%;
}

.intro {
    font-style: italic;
    font-size: large;
}
nav{
    background-color: antiquewhite;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
nav button {
    color: black;
    background-color: aqua;
    border: none;
    cursor: pointer;
    font-size: xx-large;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
}
.head p {
    background-color: aquamarine;
}
.head h1{
    background-color: yellow;
}